<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<div class="widget-box">
    <div class="widget-body">
        <div class="widget-main">
            <div id="fuelux-wizard-container" class="no-steps-container">
                <form th:action="@{/modifyPassword}" th:method="post" id="modifyPasswordForm" class="form-horizontal">
                    <div class="form-group">
                        <label  class="control-label col-xs-12 col-sm-3 no-padding-right">原密码 :</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="password" value="" id="password" placeholder="请输入原始密码" class="col-xs-12 col-sm-6">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="control-label col-xs-12 col-sm-3 no-padding-right">新密码:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="newPassword" value="" id="newPassword" placeholder="请输入新密码" class="col-xs-12 col-sm-6">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="control-label col-xs-12 col-sm-3 no-padding-right">确认新密码 :</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="repeatPassword" value="" id="repeatPassword" placeholder="请确认新密码" class="col-xs-12 col-sm-6">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
                        <button class="btn btn-primary" type="button" id="saveButton" onclick="_Menu.modifyPassword()">保存内容</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>